body {
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    padding-bottom: 70px;
}
.section-title h2 {
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.section-title p {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #646464
    ;
}

.card-img {
    background: #fff;
    max-width: 100px;
    margin: 0 auto 20px;
    box-shadow: 0px 4px 90px rgb(198 225 230 / 80%);
    padding: 10px;
    border-radius: 10px;
}
.what-we-do {
    height: 100vh;
}

.we-do-card {
    margin-bottom: 30px;
}
.we-do-card h4 {
    max-width: 200px;
    color: #004750;
    font-weight: 600;
    font-size: 22px;    
    margin: auto;
}

.mt-90 {
    margin-top: 90px;
}

.card-five {
    margin-top: 100px;
    margin-right: 50px;
}

.card-seven {
    margin-right: 100px;
}

.card-one {
    margin-left: 150px;
}
.card-three {
    margin-right: 150px;
}

.text-area  {
    box-shadow: 0px 4px 90px rgb(198 225 230 / 80%);
    max-width: 315px;
    margin: auto;
    padding: 24px;
    border-radius: 10px;
}
.text-area p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #646464;
}

.logo-img {
    margin-top: 15px;
}

.text-box {
    margin-top: -80px;
}

.middle-line {
    position: relative;
}
.middle-line::before {
    content: '';
    position: absolute;
    border: 1px dashed #008C96;
    width: 70%;
    height: 80%;
    top: 6%;
    left: 14%;
    border-radius: 50%;
    z-index: -1;
}

/* Responsive CSS */

@media screen and (max-width: 567px){
    .what-we-do {
        height: 100%;
    }

    .section-title {
        padding-bottom: 20px;
    }
    .section-title h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .section-title p {
        font-size: 16px;
        line-height: 1;
    }

    .card-one {
        margin-left: 0;
    }

    .we-do-card h4 {
        font-size: 14px;
    }

    .text-area {
        padding: 10px;
    }

    .text-area p {
        font-size: 12px;
        line-height: 1;
    }

    .card-five {
        margin-top: 0;
        margin-right: 0;
    }

    .logo-img img {
        max-width: 100px;
    }

    .card-four {
        margin-top: -10px;
    }

    .card-three {
        margin-right: 0;
    }
}
